

.container {    
    width: 50%;
    display: grid;
    gap: 20px;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    grid-template-rows: 50% 50%;
    padding: 20px;
    margin: auto;
    
}
img {
    border-radius: 25px;
    display: inline-block  ;
    width: 100%;
    height: 100%;
}